<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
      <model>
          <entities>
              <entity>
                  <facets>
                      <facet name="Test Drive" contract="Sitecore.HabitatHome.Feature.MarketingAutomation.Facets.ITestDrive, Sitecore.HabitatHome.Feature.MarketingAutomation" />
                  </facets>
              </entity>
          </entities>
      </model>
  </sitecore>
</configuration>